html {font-size: 100%;} /*16px*/
body {
  background: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}
*{box-sizing: border-box;}
html, body {
    margin: 0;
    padding: 0;
}
p {margin-bottom: 1rem;}
h1, h2, h3, h4, h5 {
  margin: .51rem 0 0rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
h1 {
  margin-top: 0;
  font-size: 2.452rem;
}
h2 {font-size: 2rem;}
h3 {font-size: 1.73rem;}
h4 {font-size: 1.44rem;}
h5 {font-size: 1.2rem;}
small, .text_small {font-size: 0.8rem;}
.bold {font-weight: 700;}
.thin {font-weight: 200;}
.regular {font-weight: 400;}


/**The simple template*/

.simple header {
    width: 100%;
    padding: 0 0 12px;
    
}
.simple header .photo {
  margin: 0 auto;
    width: 120px;
    height: 120px;
    border: 2px solid rgb(21, 38, 43);
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}
.simple header .photo img {
  max-height: 156px;
}
.main {
  margin: 0 auto;
  width: 21cm;
}
.text-center {text-align: center; margin: 0 auto;}



.main-section-item { margin-top: 24px;} 
.main-section-item h5 {
  margin-bottom: 0px
}
.main-section-item p {
  margin: 0px
}
.main-section-item span {
  margin: 0px;
}

.skill {
  margin: 24px 0 12px;
}
.skill p {
  text-align: center;
  margin-bottom: 0px;
  font-size: 1rem;
  text-transform: capitalize;
}
.skill-bar {
    height: 9px;
    background-color: rgb(226, 226, 226);
    border-radius: 18px;
}

.skill-bar-fill {
    height: 9px;
    border-radius: 18px;
    background-color: rgb(45, 73, 100)
}

.skill-bar-fill.Basico {  width: 15%;}
.skill-bar-fill.Intermedio { width: 40%;}
.skill-bar-fill.Avanzado { width: 60%;}
.skill-bar-fill.Profesional {width: 80%;}
.skill-bar-fill.Experto { width: 100%;}

main {margin-top: 24px;}
.contact ul{
  margin: 12px 0 24px;
  padding: 0px;
}
.contact ul li {
  list-style: none;
  text-align: center;
  
}

.side h3{text-align: center;}


.side {margin-bottom: 500px;}

.main-section {margin-top: 24px;}
.main-section-item,
.main-section:first-of-type {margin-top: 0px;}




